def _main_google_form(form_id, form_values):
    return f"https://docs.google.com/forms/d/e/{form_id}/formResponse?usp=pp_url&{form_values}&submit=Submit"

"""
BH1750 sensor

Change your google form id
"""
BH1750_GOOGLE_FORM_ID = ""

def bh1750_get_google_form_url(timestamp, device_id, value):
    form_values = f"entry.1077796647={timestamp}&entry.1434834196={device_id}&entry.1213168095={value}"
    return _main_google_form(BH1750_GOOGLE_FORM_ID, form_values)

"""
LDR sensor

Change your google form id
"""
LDR_GOOGLE_FORM_ID = ""

def ldr_get_google_form_url(timestamp, device_id, value):
    form_values = f"entry.800410694={timestamp}&entry.1139882709={device_id}&entry.1146204658={value}"
    return _main_google_form(LDR_GOOGLE_FORM_ID, form_values)
